/* general styles */
body {
  font-family: 'Lato', sans-serif;
  background-color: #1a1a1a;
  color: #e0e0e0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

/* navbar styles */
.navbar {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #1a1a1a;
  padding: 10px 0;
  z-index: 1000;
  width: 100%;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.navbar li {
  margin: 0 10px;
}

.navbar li a {
  display: block;
  color: #e0e0e0;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 15px;
  transition: background-color 0.3s, color 0.3s;
}

.navbar li a:hover, .navbar li a:focus {
  background-color: #e0e0e0;
  color: #1a1a1a;
}

.navbar li a.active {
  background-color: #e0e0e0;
  color: #1a1a1a;
}

/* main content styles */
.main-content {
  margin-top: 100px;
  padding: 0px;
  max-width: 1000px;
  text-align: center;
}

/* specific styles for resume page */
.resume-content {
  max-width: none; /* Remove max-width constraint */
  width: 100%; /* Use full width */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resume-content .embed-container {
  width: 90%; /* Use more width */
  height: 90vh; /* Adjust height */
  margin: 20px auto; /* Added top and bottom margin */
  border: 2px solid #444;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  background-color: #222;
}

.resume-content embed {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

/* page intro styles */
.page-intro h1 {
  font-size: 5em;
  margin-bottom: 0;
  margin-top: 0;
}

.page-intro h3:first-of-type {
  font-size: 1.5em;
  margin-bottom: 0;
}

.page-intro h3:last-of-type {
  font-size: 1.2em;
  margin-top: 5px;
}

.about p {
  font-size: 1.6em;
  line-height: 1.6;
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}

/* social/connect section styles */
.social-wrapper {
  margin-top: 80px;
}

.social-wrapper h2 {
  font-size: 2.7em;
  margin-bottom: 5px;
}

.social-wrapper h4 {
  font-size: 1.3em;
  margin-top: 5px;
}

/* Social links styles */
.social-links ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.social-links li {
  margin: 0 10px;
}

.social-links a {
  color: #e0e0e0;
  transition: color 0.3s, text-shadow 0.3s;
}

.social-links a:hover, .social-links a:focus {
  text-shadow: 0 0 10px #e0e0e0;
}

/* project content styles */
.project-content {
  padding: 20px;
}

.project-template {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.project-tile {
  background-color: #333;
  border: 2px solid #333;
  border-radius: 10px;
  padding: 20px;
  max-width: 300px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.project-tile:hover {
  background-color: #e0e0e0;
  color: #1a1a1a;
  border: 2px solid #e0e0e0;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 30;
  width: 100%;
  height: 80%;
  overflow: auto;
  background-color: rgba(0,0,0,0.8);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 100px;
}

.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border: none;
  width: 90%; /* Increased width */
  max-width: 1200px; /* Increased max-width */
  height: 90%; /* Increased height */
  max-height: 90vh; /* Increased max-height */
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  animation: fadeIn 0.5s;
  overflow: hidden;
}

.modal-content h2 {
  margin-top: 0;
  margin-bottom: 10px;
  color: #333;
}

.modal-content .links {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}

.modal-content .links a {
  color: #fff;
  background-color: #333;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.modal-content .links a:hover {
  background-color: #555;
  color: #e0e0e0;
}

.close {
  color: #aaa;
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* embed container */
.embed-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80%; /* Adjust height to fit within modal */
  border: 2px solid #444;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  background-color: #222;
}

embed {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

/* footer styles */
.copyright {
  margin-top: auto;
  background-color: #1a1a1a;
  text-align: center;
  padding: 5px 0;
  font-size: 0.8em;
  color: #777;
}

/* animation styles */
@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 2s forwards;
}

/* modern fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900&display=swap');

body {
  font-family: 'Lato', sans-serif;
}
